*{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0;
    padding: 0;
}
#box{
    background-color: black;
    color: azure;
    /* position: absolute;
    top: 30%;
    left: 15%; */
    display: block;
    margin: 120px auto;
    width: 40%;
    font-size: 50px;
    border: 2px solid black;
    text-align: center;
    border-radius: 25px;
}
#btn{
    position: absolute;
    top: 65%;
    left: 44%;
    /* display: block;
    margin: auto; */
    height: 50px;
    width: 200px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 15px;
    text-decoration:solid;
}
#btntxt{
    font-weight: bolder;
    /* -webkit-text-stroke: 0.5px black; */
    /* text-shadow: 1px 0px 3px black; */
}
#color{
    /* -webkit-text-stroke: 0.5px black; */
    text-shadow: 1px 0px 3px white;
}

@media only screen and (max-width:600px){
    #box{
        font-size: 40px;
    }
    #btn{
        top: 73%;
        left: 34%;
    }
}

@media only screen and (max-width:500){
    #box{
        font-size: 32px;
    }
    #btn{
        top: 73%;
        left: 32%;
    }
}

@media only screen and (max-width:430px){
    #box{
        font-size: 28px;
    }
    #btn{
        top: 65%;
        left: 25%;
    }
}